.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.work-bubble {
  float: left;
  width: 150px;
  height: 100px;
  object-fit: scale-down;
  object-position: center;
  margin: 10px;
  padding-right: 20px;
  // border-radius: 8px; /* Optional: adds rounded corners */
}
